{% extends "base.html" %}
{% block title %} Homepage Fit {% endblock %}
{% block body %}
<section class="img img1" style="height:100vh;" >
	<div class="middle">
		<h1> Bienvenue chez FitForm </h1>
		<h2> Votre salle de fitness préférée !</h2>
	</div>
</section>
<section class="img img2" style="height:100vh;">
	<div class="container-fluid">
		<div class="row">
			<div class="middle2">
				<h2>
					Bienvenue sur notre site web dédié aux coachs sportifs et à la gestion de votre salle de fitness ! Notre plateforme en ligne vous offre un contrôle total sur votre activité.

					Ajoutez et retirez facilement des clients, des machines et des coachs sportifs en quelques clics. Simplifiez la gestion de votre salle de fitness et consacrez plus de temps à votre passion : le coaching.

					Rejoignez-nous dès maintenant et optimisez la gestion de votre salle de fitness en toute simplicité.
				</h2>
			</div>
		</div>
	</div>
</section>

{% endblock %}